.header {
  background-color: tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
}

nav .nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.form-group {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  padding: 16px;
}

.form-input {
  text-indent: 8px;
}

.form-btn {
  grid-column: 1 / -1;
  border: none;
  background-color: gold;
  color: black;
}